<style>
    @media (min-width: 400px) {
        .card-container {
            grid-template-columns: repeat(1, 1fr);
        }
    }

    @media (min-width: 800px) {
        .card-container {
            grid-template-columns: repeat(2, 1fr);
        }
    }

    @media (min-width: 1200px) {
        .card-container {
            grid-template-columns: repeat(3, 1fr);
        }
    }

    @media (min-width: 1600px) {
        .card-container {
            grid-template-columns: repeat(4, 1fr);
        }
    }

    .flex-container {
        margin: 20px;
        background-color: rgba(240, 240, 240, 0.507);
        display: grid;
        border-radius: 8px;
        grid-template-rows: min-content min-content;
        min-width: fit-content;
        box-shadow: 0 14px 28px rgba(0, 0, 0, 0.151),
            0 10px 10px rgba(0, 0, 0, 0.151);
    }

    .card-container {
        margin: 20px;
        background-color: rgba(193, 224, 235, 0.699);
        display: grid;
        flex-direction: row;
        max-width: 100%;
        gap: 1rem;
    }

    app-card-component+*{
        width: max-content;
    }

    .header {
        margin: 20px;
        margin-bottom: 0px;
        border-radius: 10px;
        background-color: rgb(211, 227, 255);
    }

    .title {
        padding: 10px;
    }

    .title>h1{
        display: table-cell;
    }
    
</style>

<div class="flex-container">
    <div class="header">
        <div class="title">
            <h1 *ngIf="title">{{title}}</h1>
        </div>
    </div>
    <div class="card-container">
        <div class="card" *ngFor="let c of cards">
            <app-card-component [card]="c"></app-card-component>
        </div>
    </div>
</div>