.card{
    max-width: 600px;
    min-width: 200px;
    min-height: 80px;
    width: min-content;
    height: min-content;
    color: #474747;
    border-radius: 10px;
    display: grid;
    grid-template-rows: 25% 75%;
    padding: 1.5rem;
}

.body {
    display: grid;
    grid-template-columns: 80% 20%;
}

.button {
    text-align: center;
}

.header {
    font-size: 0.8rem;
    font-weight: 700;
    text-transform: uppercase;
}

.header-yellow {
    color: #f6c23e;
}

.border-left-aquamarine {
    border-left: 0.25rem solid #36b9cc;
}

.border-left-yellow {
    border-left: 0.25rem solid #f6c23e;
}

.border-left-red {
    border-left: 0.25rem solid #c94040;
}


/* VERSIONE 1*/
/* .card{
    height: 100px;
    width: auto;
    min-width: 250px;
    margin: 20px;
    border-radius: 10px;
    border-style: solid;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.body {
    height: 70%;
    width: 100%;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
}

.header {
    height: 30%;
    width: 100%;
    background-color: rgb(210, 253, 185);
    border-radius: 10%;
}

p {
    margin: 5px;
}

.description { 
    width: 70%;
    height: 100%;
    background-color: rgb(255, 254, 195);
    border-radius: 10%;
}

.button {
    width: 30%;
    height: 100%;
    background-color: rgb(255, 182, 182);
    border-radius: 10%;
} */
