<!-- <mat-card *ngIf="card">
    <mat-card-content *ngIf="card.title">{{card.title}}</mat-card-content>
    <mat-card-content *ngIf="card.description">{{card.description}}</mat-card-content>
    <mat-card-content *ngIf="card.button">{{card.button}}</mat-card-content>
</mat-card> -->

<div class="card border-left-aquamarine" *ngIf="card">
    <div class="header header-yellow" *ngIf="card.title">
        <p>{{card.title}}</p>
    </div>
    <div class="body">
        <div class="description" *ngIf="card.description">
            <p>{{card.description}}</p>
        </div>
        <div class="button" *ngIf="card.button">
            {{card.button}}
        </div>
    </div>
</div>